.calculator{
    width: 450px;
    background-color: grey;
}

.calculator-display{
    width: 100%;
    font-size: 60px;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.calculator-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

button {
    height: 60px;
    font-size: 35px;
}

.button-operator {
    background-color: blue;
    border: none;
}

.button-equal {
    background-color: red;
    border: none;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    height: 100%;
}

